/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f5ff;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #4c52ff;
  color: white;
  padding: 15px 40px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd966;
}

/* Hero section (pakai grid) */
.hero {
  padding: 60px 100px;
  margin-top: 100px;
  gap: 300px;
}

.grid-container {
  display: grid;
  
  grid-template-columns: 1fr 1fr; /* dua kolom sejajar */
  align-items: center; /* biar sejajar tengah vertikal */
  /* gap: 390px; */
  
  justify-content: space-between;
  padding: 80px 100px; /* kasih jarak dari tepi halaman */
}

.grid-container img {
  display: grid;
  justify-self: end; /* dorong gambar ke kanan */
  border-radius: 20px;
  
}



.text-content h2 {
  font-size: 32px;
  color: #222;
}

.text-content h3 {
  font-size: 28px;
  margin-top: 10px;
  color: #4c52ff;
}

.text-content span {
  color: #ffb84c;
}

.text-content p {
  margin-top: 15px;
  line-height: 1.6;
  font-size: 16px;
}



.btn {
  margin-top: 20px;
  background-color: #4c52ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #333;
}

/* Foto */
.image-content img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  
    
}

/* Footer */
footer {
  text-align: center;
  
  background-color: #4c52ff;
  color: white;
 
  /* margin-top: 50px; */
}

footer p{
    margin-top: 200px;
    padding: 50px;
}

/* Responsif */
@media (max-width: 768px) {
  .navbar ul{
    display: none;
  }

   .text-content .tengah{
    display: flex;
    text-align: center;
    justify-content: center;
    
  }

  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 80px; 
  }

  .image-content img {
    width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  
  }

  .hero {
    padding: 40px;
  }
}



@media (max-width: 981px) {
  
  
  .grid-container .text-content .image-content {
      grid-template-columns: 1fr 1fr ;
    text-align: center;
   
  }

  .image-content img {
    width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  
  }

  .hero {
    padding: 40px;
  }

  
}


@media (max-width: 731px) {
  .navbar ul{
    display: none;
  }

   .text-content .tengah{
    display: flex;
    text-align: center;
    justify-content: center;
    
  }

  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 80px; 
  }

  .image-content img {
    width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  
  }

  .hero {
    padding: 40px;
  }
}






